PREFIXES=["/", ".", "!"]
HELP_TEXT=欢迎使用AmiaBot\nBot使用方法\nhttps://amiabot.parallel-sekai.org/

ONEBOT_HTTP_URL=http://127.0.0.1:3000
ONEBOT_WS_URL=ws://127.0.0.1:3001
ONEBOT_TOKEN=

APP_DB_HOST=127.0.0.1
APP_DB_PORT=5432
APP_DB_NAME=
APP_DB_USER=
APP_DB_PASSWORD=

ENANA_BASEURL=
ENANA_TOKEN=
ENANA_SCALE=
ENANA_FONT=

OPENAI_API_KEY=
OPENAI_BASEURL=https://api.openai.com/v1
OPENAI_MODEL=gpt-4o-mini

GITHUB_TOKEN=

NETEASE_COOKIES=
