@import 'tailwindcss';

@theme {
  --color-primary: #834c75;
  --color-on-primary: #ffffff;
  --color-primary-container: #ffd7f0;
  --color-on-primary-container: #68355c;

  --color-secondary: #6f5767;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #f9daec;
  --color-on-secondary-container: #56404f;

  --color-tertiary: #815341;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #ffdbce;
  --color-on-tertiary-container: #663c2b;

  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;

  --color-surface: #fff7f9;
  --color-on-surface: #201a1e;
  --color-on-surface-variant: #4f444a;
  --color-outline: #81737b;
  --color-outline-variant: #d2c2ca;

  --color-surface-container-low: #fef0f6;
  --color-surface-container: #f8eaf0;
  --color-surface-container-high: #f2e5ea;

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 24px;
}

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply bg-surface text-on-surface antialiased;
    font-family:
      'Noto Sans CJK SC', 'Source Han Sans SC', system-ui, sans-serif;
  }
}
