name: PR Check Pipeline

on:
  pull_request:
    branches: [main]
    paths:
      - 'src/**'
      - '.github/workflows/pr-check.yml'
      - 'package*.json'
      - 'Dockerfile'

jobs:
  build-and-check:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci
      
      - name: Run formatting
        run: npm run format:check
      
      - name: Run build
        run: npm run build